<a href="https://colab.research.google.com/github/Saha555339/Coursework-3rd-year/blob/main/%D0%9A%D1%83%D1%80%D1%81%D0%B0%D1%87_%D0%9F%D1%80%D0%B5%D0%B4%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Обработка данных

In [ ]:
import pandas as pd

data = pd.read_csv("/content/Data_Deputies_8_Convocation.txt", encoding='utf-8')
data.head()

                                ФИО
0        Абакаров Хизри Магомедович
1             Авдеев Михаил Юрьевич
2  Авксентьева Сардана Владимировна
3             Агаев Бекхан Вахаевич
4           Азимов Рахим Азизбоевич

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ФИО     433 non-null    object
dtypes: object(1)
memory usage: 3.5+ KB

In [ ]:
#data.to_csv('Data_Deputies_8_Convocation.csv', sep='\t', index=False) # сохраняем в csv файл

In [ ]:
rating_df = pd.read_csv('Data_2021_June.csv', sep='\t')
rating_df.head()
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Ф.И.О.Отсутствуют руководители фракций  438 non-null    object
 1   Активность в ГД                         438 non-null    float64
 2   Индекс народного голосования            438 non-null    float64
 3   Оценка экспертов                        438 non-null    float64
 4   Индекс цитируемости                     438 non-null    float64
 5   КПДГД                                   438 non-null    float64
dtypes: float64(5), object(1)
memory usage: 20.7+ KB

In [ ]:
new_deputies_df = pd.read_csv('Data_Deputies_8_Convocation.csv', sep='\t')
new_deputies_df.head()

                                ФИО
0        Абакаров Хизри Магомедович
1             Авдеев Михаил Юрьевич
2  Авксентьева Сардана Владимировна
3             Агаев Бекхан Вахаевич
4           Азимов Рахим Азизбоевич

# Добавления нового столбца "прошел"
(В исходную таблицу с рейтингами.)

In [ ]:
rating_df = rating_df.rename(columns={'Ф.И.О.Отсутствуют руководители фракций':'ФИО'})
merged_df = rating_df

merged_df['Прошел'] = merged_df['ФИО'].isin(new_deputies_df['ФИО']).astype(int)
merged_df.head()

0       True
1       True
2       True
3       True
4       True
       ...
433     True
434    False
435    False
436    False
437    False
Name: ФИО, Length: 438, dtype: bool
                                  ФИО  Активность в ГД  \
0    Крашенинников Павел Владимирович             9.32
1         Хинштейн Александр Евсеевич             5.22
2            Нилов Ярослав Евгеньевич            14.91
3               Толстой Петр Олегович             0.37
4         Исаев Андрей Константинович             4.85
..                                ...              ...
433        Берулава Михаил Николаевич             0.00
434             Пиляев Иван Сергеевич             1.49
435       Ярошук Александр Георгиевич             0.00
436         Чайка Валентин Васильевич             0.00
437        Кузьмин Андрей Альбертович             2.61

     Индекс народного голосования  Оценка экспертов  Индекс цитируемости  \
0                            8.66              29.5                10.94
1                            0.48              24.0                28.45
2                           10.63              24.0                 8.21
3                           13.27              29.0                13.87
4                           11.60              27.0                12.92
..                            ...               ...                  ...
433                          0.44              14.0                 0.38
434                          0.32              12.0                 0.39
435                          0.48              13.0                 0.66
436                          2.96              11.0                 0.08
437                          3.21               7.0                 0.18

     КПДГД  Прошел
0    58.42       1
1    58.15       1
2    57.75       1
3    56.51       1
4    56.37       1
..     ...     ...
433  14.82       1
434  14.20       0
435  14.14       0
436  14.04       0
437  13.00       0

[438 rows x 7 columns]

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ФИО                           438 non-null    object
 1   Активность в ГД               438 non-null    float64
 2   Индекс народного голосования  438 non-null    float64
 3   Оценка экспертов              438 non-null    float64
 4   Индекс цитируемости           438 non-null    float64
 5   КПДГД                         438 non-null    float64
 6   Прошел                        438 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 24.1+ KB

In [ ]:
# merged_df.to_csv('Data_Deputies_Passed.csv') # сохраняем результат в csv файл